

<div class="card" style="width: 18rem;">
    <img [src]="product.thumbnail" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">{{product.date | date}}</p>
      <p  class="card-text">{{product.price|currency:"EGP":"symbol-narrow"}}</p>
      <button (click)="productDetails(product.id)" class="btn btn-success">product details</button>
      <button (click)="addTocart(product.id)" class="btn btn-primary">add to cart</button>

    </div>
  </div>