  <div class="container my-3">

    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="useremail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email" formControlName="email">
        <small *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid" id="emailHelp"
          class="form-text text-danger">
          <span *ngIf="registerForm.controls['email']?.errors?.['required']">email required</span>
          <span *ngIf="registerForm.controls['email']?.errors?.['email']">email invalid</span>
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">user name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter user name" formControlName="username">
        <small *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid"
          id="emailHelp" class="form-text text-danger">
          <span *ngIf="registerForm.controls['username']?.errors?.['required']">username required</span>
          <span *ngIf="registerForm.controls['username']?.errors?.['cannotContainSpace']">can't contain spaces</span>
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">password</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter user name" formControlName="password">
        <small *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid"
          id="emailHelp" class="form-text text-danger">
          <span *ngIf="registerForm.controls['password']?.errors?.['required']">password required</span>
          <span *ngIf="registerForm.controls['password']?.errors?.['minLength']">password must be 8 chars</span>
          <span *ngIf="registerForm.controls['password']?.errors?.['complexity']">
            password must contain at least one uppercase, one lowercase, one number and one special character
          </span>
        </small>
      </div>
      <br><br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>

