<body>

    <div class="container">
        <img src="img/logo.png" class="img-rounded" alt="Cinque Terre">
    
      <h2 style="float: right; color: blue;">MODERN SCHOOL</h2>
      <form>
        <div class="form-group">
            <label for="Name">name:</label>
            <input type="text" class="form-control" id="Name" placeholder="Enter Your Name" name="Name">
          </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
    
        <div class="form-row">
        <label for="Gender">Gender:</label>
    
        <label class="radio-inline">
            <input type="radio" name="optradio" checked="">Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Female
          </label>
          </div>
        
        <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">state</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">streat</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputCity">year</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">month</label>
                  <select id="inputState" class="form-control">
                  </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">day</label>
                    <select id="inputState" class="form-control">
                    </select>
                  </div>
            </div>
        <div class="form-group">
        <button type="button" class="btn btn-primary" style="margin-left: 50%; margin-top: 20px;">Submit</button>
        </div>
    </div>
    </form>
    </div>
    
    
    
    </body>