
    <div class="container">
    
      <form #productForm="ngForm" (ngSubmit)="submitProductForm(productForm)">
        <div class="form-group">
            <label for="Name">name:</label>
            <input type="text" 
            class="form-control"
             id="Name" 
             placeholder="Enter Your Name" 
             name="Name" 
             ngModel
             #productForm="ngModel">
             <div id="validation" class="form-text" ></div>

          </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" 
          class="form-control" 
          id="pwd"
           placeholder="Enter password" 
           name="pwd"
           ngModel
             #productForm="ngModel"
           >
        </div>
    
       
        <div class="form-group">
        <button type="submit" class="btn btn-primary" style="margin-left: 50%; margin-top: 20px;">Submit</button>
        </div>
    </form>
    </div>
    
    
    
