<div class="container" style="text-align: center;">
    <div class="row">
       <div class="col-md-4 my-3" >
           <div class="card" style="width: 50rem;">
               <div class="card-body">
                 <h5 class="card-title">{{selectedProduct?.title | uppercase}}</h5>
                 <p class="card-text">{{selectedProduct?.description}}</p>
                 <h6 class="card-price">{{selectedProduct?.price}} $</h6>
                 <h6 class="card-stock">{{selectedProduct?.stock}} </h6>
                 <p class="card-date">{{selectedProduct?.createdAt | date:'MMMM YYYY'}}</p>
   



                 <div class="row" >
                 <div class="column" *ngFor="let img of selectedProduct?.images" style="float: left; width: 33.33%; padding: 5px;">
                 
                      <img class="d-block w-100" [src]="img" alt="First slide">
                    </div>
                   </div>
                  </div>
               </div>
             </div>
   
       </div>
    </div>
   
    <!-- <p>product-details works!</p>

    <img [src]="selectedProduct?.thumbnail" class="img-fluid" >
    {{selectedProduct?.title}}
    <br>
    {{selectedProduct?.description}}
    <br>
    {{selectedProduct?.date | date}}
    <br>
    <br>
    {{selectedProduct?.price | currency:"EGP":"symbol-narrow"}}
    <br>
     -->